<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Bub</title>
    <script src='jquery.js' type='text/javascript'></script>
    <script src='underscore.js' type='text/javascript'></script>
    <script src='backbone.js' type='text/javascript'></script>
    <script src='app.js' type='text/javascript'></script>
    <link href='reset.css' rel='stylesheet' />
    <link href='site.css' rel='stylesheet' />
  </head>
  <body>
    <header>
      <h5>bub</h5>
    </header>
    <div id='bub-app'>
      <div id='repository-all'>
      </div>
      <table id='repositories'>
      </table>
      <table id='issues'>
      </table>
    </div>
<script type='text/template' id='repository-template' style='display:none;'>
  <% if (has_issues) { %>
    <td class='numbers'><span class='open-issues'><%= open_issues %></span></td>
    <td><a class='repository-link' href='#'><%= name %></a></td>
  <% } %>
</script>
<script type='text/template' id='issue-template' style='display:none;'>
  <td class='numbers'><%= comments %></td>
  <td class='numbers'><%= timeAgo(Date.parse(updated_at)) %></td>
  <td><a href='<%= html_url %>' title="<%= body %>"><%= title %></a></td>
</script>
<script type='text/template' id='repository-all-template' style='display:none;'>
  <a href='#' class='view-stream'><%= name %></a>
</script>
<script type='text/template' id='issues-header'>
<thead>
  <tr>
  <th class='comments-sort' title='comments'>comments</th>
  <th class='updated-sort' title='updated'>updated</th>
  <th></th>
  <th></th>
</thead>
<tbody>
</tbody>
</script>
  </body>
</html>
