body {
  font: 12px/15px "Helvetica Neue", "Arial", sans-serif;
  background: url(noise.png) #eee;
  color:#222;
}
header {
  padding:10px 20px;
  background-color:#424041;
  color:#fff;
}
ul#repositories {
  list-style-type:none;
}
a {
  background-color: #e0e0e0;
  padding:2px;
  color:#111;
  text-decoration:none;
}
#bub-app {
  padding:20px;
}
table#repositories {
  width:200px;
  top:60px;
}
#repository-all {
  background:#e0e0e0;
  width:190px;
  height:15px;
}
table tr {
  border-top:1px dotted #ccc;
}
table td {
  padding:5px;
}
table thead th {
  text-align:left;
  padding:5px;
}
table thead tr {
  border:none;
}
table#issues {
  width:550px;
  position:absolute;
  left:250px;
  top:60px;
}
