body {
  font: 12px/15px "Helvetica Neue", "Arial", sans-serif;
  background: url(noise.png) #eee;
  color:#222;
}
header {
  padding:10px 20px 5px 5px;
  background-color:#424041;
  color:#fff;
}
ul#repositories {
  list-style-type:none;
}
a {
  color:#111;
  text-decoration:none;
}
a:hover {
  color:#000;
  text-decoration:underline;
}
#bub-app {
}
table#repositories {
  width:200px;
  top:60px;
  background-color:#fff;
  border-right:1px solid #aaa;
}
#repository-all {
  width:200px;
}

#repository-all a {
  background:#e0e0e0;
  display:block;
  padding:10px 5px 5px 5px;
}
table#repositories tr {
  border-top:1px dotted #eee;
}
.repository-row.selected {
  background-color: #eee;
}
table#issues tr {
  border-top:1px dotted #ccc;
}
table td {
  padding:5px;
}
table td.numbers {
  text-align:right;
}
table thead th {
  text-align:left;
  padding:10px 5px 5px 5px;
}
table thead tr {
  border:none;
}
table#issues {
  width:550px;
  position:absolute;
  left:200px;
  top:30px;
}
